<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>View Card</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
    <div th:replace="~{fragments/header :: header}">
        <h1> Cards </h1>
    </div>
    <div>
        <h2 th:utext="${myCard.familly}">...</h2>
        <h3 th:utext="${myCard.name}">...</h3>
        <img th:src="${myCard.imgUrl}" alt="">


        <div>
            <p th:src="${myCard.description}">
            </p>	
        </div>

        <div><h3 th:text="${myCard.hp}">...</h3> <h3 th:text="${myCard.energy}">...</h3></div>
        <div><h3 th:text="${myCard.defense}">...</h3> <h3 th:text="${myCard.attack}">...</h3></div>
    </div>
</body>
</html>
