<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <title>Login</title>

        <link rel="stylesheet" type="text/css" href="../../lib/Semantic-UI-CSS-master/semantic.min.css">
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

    </head>

    <body>
        <div>
            <div class="column">
                <form class="ui form" action="./addData" method="GET">
                    <h3 class="ui dividing header">Login</h3>
                    <div class="field">
                        <label>Surname</label>
                        <input type="text" name="first-name" placeholder="Surname">
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input type="password" name="last-name" placeholder="Passeword">
                    </div>
                    <button class="ui button" type="submit" >Connect</button>
                </form>
                <button class="ui button cancel">Cancel</button>
            </div>
        </div>
    </body>
</html>