<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>View List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/list-view.css}" />
</head>
<body>
<div th:replace="~{fragments/header :: header}">
    <h1> Liste des cartes </h1>
</div>
<div class="container">
    <table id="tableau" class="tab">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Family</th>
                <th scope="col">Affinity</th>
                <th scope="col">Energy</th>
                <th scope="col">HP</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="card : ${myList}">
                <th scope="row" th:utext="${card.name}"></th>
                <td th:utext="${card.description}"></td>
                <td th:utext="${card.familly}"></td>
                <td th:utext="${card.affinity}"></td>
                <td th:utext="${card.energy}"></td>
                <td th:utext="${card.hp}"></td>
                <td th:utext="${card.price}"></td>
            </tr>
        </tbody>
    </table>

    <div th:replace="~{fragments/selectedCard :: selectedCard}">
    </div>
</div>
</body>
</html>
