<div class="choice" th:fragment="selectedCard">
    <div class="selected-card">
        <div class="card-header">

            <div class="attaque">
                <img id="attack" class="icon" src="../../static/img/eclair.png" alt="">
                <p>50</p>
            </div>
            <div class="name">Pikachu</div>
            <div class="defense">
                <p>100</p>
                <img id="def" class="icon" src="../../static/img/coeur.png" alt="">
            </div>
        </div>

        <div class="card-image">
            <img id="image"
                 src="https://www.pokepedia.fr/images/thumb/7/76/Pikachu-DEPS.png/800px-Pikachu-DEPS.png" alt="">
            <hr>
        </div>

        <div class="card-footer">
            <div class="description">
                Orci varius natoque penatibus et magnis dis parturient montes,
                . Sed ultrices enim
            </div>
        </div>

    </div>

    <div class="buy-btn">
        <button>Buy</button>
    </div>
</div>