.create-room {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui.form {
    box-shadow: 0 4px 8px grey;
    padding: 15px;
}

.ui.form h3 {
    text-align: center;
    font-size: 2rem;
}

.form-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.field {
    width: 280px;
}

.ui.button {
    width: 150px;
    height: 40px;
}

.addBtn {
    width: 25px;
    height: auto;
}

#create-btn {
    display: flex;
    align-items: center;
    gap: 15px;
}