body {
    font-family: 'Arial', sans-serif;
}

.sub-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 0.1rem lightgrey;
    padding-bottom: 2rem;
}

.wait-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height for vertical centering */
    text-align: center;
    background-color: #f0f0f0; /* Light background color */
    padding: 20px;
    box-sizing: border-box;
}

.wait-player .icon {
    width: 100px; /* Adjust the size of the icon */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Space between icon and text */
}

.wait-player p {
    font-size: 24px;
    font-weight: bold;
    color: #333; /* Darker text color */
    margin: 0;
}