<div class="choice" th:fragment="selectedCard">
    <div class="selected-card">
        <div class="card-header">

            <div class="attaque">
                <img id="attack" class="icon" th:src="@{/img/eclair.png}" alt="">
                <p th:text="${pokemonCard.id}"></p>
            </div>
            <div th:text="${pokemonCard.name}" class="name"></div>
            <div class="defense">
                <p th:text="${pokemonCard.defense}"></p>
                <img id="def" class="icon" th:src="@{/img/coeur.png}" alt="">
            </div>
        </div>

        <div class="card-image">
            <img id="image"
                 src="https://www.pokepedia.fr/images/thumb/7/76/Pikachu-DEPS.png/800px-Pikachu-DEPS.png" alt="">
            <hr>
        </div>

        <div class="card-footer">
            <div th:text="${pokemonCard.description}" class="description">
            </div>
        </div>

    </div>

    <div class="sell-card">
        <div class="card-price">
            <label for="cardPrice">Prix de Vente</label>
            <input type="number" name="cardPrice" id="inputPrice">
        </div>

        <button>Sell</button>
    </div>
</div>