<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>View List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/list-view.css}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/script.js}"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}">
    <h1> Liste des cartes </h1>
</div>
<div class="container">
    <table id="tableau" class="tab">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Family</th>
                <th scope="col">Affinity</th>
                <th scope="col">Energy</th>
                <th scope="col">HP</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="card : ${myList}" th:attr="data-id=${card.id}" class="clickable-row">
                <th scope="row" th:utext="${card.name}">...</th>
                <td th:utext="${card.description}">...</td>
                <td th:utext="${card.familly}">...</td>
                <td th:utext="${card.affinity}">...</td>
                <td th:utext="${card.energy}"></td>
                <td th:utext="${card.hp}">...</td>
                <td th:utext="${card.price}">...</td>
            </tr>
        </tbody>
    </table>

    <div id="detailsPokemon">
        <div class="choice" th:fragment="selectedCard">
            <div class="selected-card">
                <div class="card-header">
        
                    <div class="attaque">
                        <img id="attack" class="icon" th:src="@{/img/eclair.png}" alt="">
                        <p th:text="${pokemonCard.id}">...</p>
                    </div>
                    <div th:text="${pokemonCard.name}" class="name">...</div>
                    <div class="defense">
                        <p th:text="${pokemonCard.defense}">...</p>
                        <img id="def" class="icon" th:src="@{/img/coeur.png}" alt="">
                    </div>
                </div>
        
                <div class="card-image">
                    <img id="image"
                         src="https://www.pokepedia.fr/images/thumb/7/76/Pikachu-DEPS.png/800px-Pikachu-DEPS.png" alt="">
                    <hr>
                </div>
        
                <div class="card-footer">
                    <div th:text="${pokemonCard.description}" class="description">
                    </div>
                </div>
            </div>
            <div class="buy-btn">
                <button>Buy</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
